img{
  width:850px;
  height:550px;
  border: 5px solid black;
}

div{
  border: 2px dashed black;
  width: 30%;
}

body{
  background-color: rgb(159, 163, 171);
}

h1{
  border: 5px solid black;
  text-align: center;
}